
.header-and-hero{
  background-image: url('../../img/hero-img.jpg');
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}












