.newsletter-section{
  background-image: url('../../img/newsletter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.newsletter{
  padding: 146px 0;
}
.newsletter__subtitle{
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  color: #fff;
}
.newsletter__title{
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #fff;
}
.newsletter__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.form-floating{
  width: 60%;
}
.newsletter__btn{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1a1917;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  display: inline-block;
  padding:15px 20px !important;
  margin: 0 !important;
  height: 100%;
  width: 30%;
}

@media screen and (max-width:576px) {
  .newsletter__subtitle{
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
  }
  .newsletter__title{
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
  }
  .newsletter__text{
    font-size: 14px;
    line-height: 19px;
  }
  .form-floating{
    width: 100%;
  }
  .newsletter__btn{
    width: 100%;
  }
}
